RootConfig(
    app: AppConfig(
        resolution: (1920, 1080),
    ),
    grid: GridConfig(
        size: 500,
    ),
    scene: SceneConfig(
        starting_pawns: 6,
        pawn_speed: 3.0
    )
)
