RootConfig(
    app: AppConfig(
        resolution: (1920, 1080),
    ),
    grid: GridConfig(
        size: 500,
    ),
    tile: TileConfig(
        size: 32.0,
    ),
    starting_scene: StartingSceneConfig(
        pawns: 1,
        day_hour: 8,
        farm_width: 1,
        farm_height: 1,
        //time_scale: 1.0
        time_scale: 300.0
        //time_scale: 30000.0
    ),
    time: TimeConfig(
        day_duration: 60.0,
        days_in_season: 7,
    ),
    pawn: PawnConfig(
        speed: 3.0,
        work_force: 1.0,
        spawn_age: (15, 25),
        //lifetime_span: (50, 90),
        lifetime_span: (99999, 999999),
    ),
    farming: FarmingConfig(
        basic_yield_percent: 0.25,
        max_yield: 10,
        planting_hours: 12.0,
        tending_hours: 8.0,
        harvesting_hours: 12.0,
        harvested_rest_days: 3.0,
        growth_days: 7.0,
        tending_rest_hours: 8.0,
    ),
    movement_cost: MovementCostConfig(
        farm: 0.33,
        furniture: 0.5,
    ),
    stamina_cost: StaminaCostConfig(
        //idle: 1,
        //moving: -0.25,
        // 12 hours of work => 10% stamina left (90 / 12 = 7.5)
        //working: -7.5,
        // 7 hours of sleep => 100% stamina restored (100 / 7 = 14.2857142857)
        sleeping: 14.2857142857,
        // 17 hours of living => 100% stamina drained (100 / 17 = 5.8823529412)
        //living: -5.8823529412
        //living: -50.8823529412
        living: -0.0002
    )
)
