RootConfig(
    app: AppConfig(
        resolution: (1920, 1080),
    ),
    grid: GridConfig(
        size: 500,
    ),
    tile: TileConfig(
        size: 32.0
    ),
    scene: SceneConfig(
        starting_pawns: 1,
        starting_hour: 8
    ),
    time: TimeConfig(
        day_duration: 60.0
    ),
    pawn: PawnConfig(
        speed: 3.0,
        work_force: 1.0
    )
)
