name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install nightly toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - name: Cache Rust artifacts
        uses: Swatinem/rust-cache@v2
      - name: Install Dependencies
        run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libx11-dev libxcursor-dev libxi-dev libxrandr-dev libxinerama-dev libx11-xcb-dev libxss-dev libvulkan-dev libwayland-dev
      - name: Build
        run: cargo build --verbose
      - name: Run cargo test
        run: cargo test --verbose
      - name: Run clippy
        run: cargo clippy -- -D warnings
